---
import BaseLayout from "@/layouts/BaseLayout.astro";
const title = "Ana Pastor";
const description = "Página de experiencia"
---

<BaseLayout title={title} description={description}>
<h1>Portfolio</h1>
</BaseLayout>
