---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TitleStatus from "@/components/TitleStatus.astro";

const title = "Ana Pastor";
const description ="Portfolio de Ana, estudiante de DAM desarrollador Web, desarrollador Backend";
---

<BaseLayout title={title} description={description}>
  <main>
    <TitleStatus titleContent="Ana Pastor Roncero" statusText="Disponible para trabajar" url="https://www.linkedin.com/in/ana-pastor-roncero-600a57266/?originalSubdomain=es">
    </TitleStatus>
    <div class="info">
      <p>
        Hola, soy Ana, <span class="info-bold">técnico de Sistemas Microinformáticos y redes.</span>
        De Jaén, España.
      </p>
      <p>
        Actualmente, estoy estudiando el Grado Superior de DAM (Desarrollo de Aplicaciones Multiplataforma).
      </p>
      <p>Puedes encontrarme</p>
    </div>
  </main>

  <style>
    .info {
      padding: 16px 0;
    }

    .info p:not(:last-child) {
      margin-bottom: 28px;
    }

    .info .info-bold {
      color: var(--font-color-important);
    }
  </style>
</BaseLayout>
