<span class="badge">
  <slot />
</span>

<style>
  .badge {
    font-size: 16px;
    color: #fefcbf;
    background-color: #7e3af2;
    line-height: 20px;
    padding: 2px 10px;
    border-radius: 6px;
    display: inline-block;
  }
</style>
