---

---

<section class="timeline-section">
  <ul class="timeline">
    <li class="timeline-item-list">
      <div class="box-logo">
        <img class="logo" src="/public/images/medac_logo.jpeg" alt="logo" />
      </div>

      <h3>MEDAC</h3>
      <p>DAM Desarrollo de aplicaciones multiplataforma</p>
      <time datetime="2023-actually">2023 - <span>Actualidad</span></time>
    </li>

    <li class="timeline-item-list">
      <div class="box-logo">
        <img
          class="logo"
          src="/public/images/reyesdeespana_logo.png"
          alt="logo"
        />
      </div>
      <h3>IES Reyes de España</h3>
      <p>Bachillerato</p>
      <time datetime="2021-2023">2021 - 2023</time>
      <!-- experiencia  <a href=""></a> -->
    </li>

    <li class="timeline-item-list">
      <div class="box-logo">
        <img
          class="logo"
          src="/public/images/padresuarez_logo.jpg"
          alt="logo"
        />
      </div>
      <h3>IES Padre Suárez</h3>
      <p>Sistemas Microinformáticos y Redes</p>
      <time datetime="2023-actually">2019 - 2021</time>
    </li>
  </ul>
</section>

<style>
  section {
    font-family: var(--font-regular);
    padding: 16px 2rem;
    font-size: 16px;
    overflow-x: hidden;
  }
  .timeline {
    border-left: 2px solid var(--font-color-light);
    position: relative;
    display: flex;
    flex-direction: column;  
  }
  .timeline-item-list {
    list-style: none;
    padding-left: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }

  .timeline-item-list h3{
    font-family: var(--font-bold);
  }

  .timeline-item-list p{
    font-family: var(--font-regular);
  }

  .timeline-item-list time{
    font-family: var(--font-light);
  }

  .box-logo {
    height: 4rem;
    width: 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    position: absolute;
    left: -30px;
    margin-top: 5px;
    
  }

  span{
    color:#22c55e;
  }

  .logo {
    height: 4rem;
    width: auto;
    border-radius: 6px;
  }
</style>
