---
const author = "Ana Pastor Roncero";
import ROUTES from "@/assets/routes.json";
---

<header class="NavBar">
  <h1 class="name"><a class="name-link" href="/">{author}</a></h1>

  <nav class="wrapper">
    {ROUTES.map((route) => <a class="links" href={route.url}>{route.text}</a>)}

    <svg
      class:list="icon-sun"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#ffffff"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-sun"
      ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
        d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path>
      <path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path>
      <path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path>
      <path d="m19.07 4.93-1.41 1.41"></path>
    </svg>
  </nav>
</header>

<style>
  .NavBar {
    width: 57.5rem;
    display: flex;
    flex-direction: row;
    height: 6.25rem;
    align-items: center;
    justify-content: space-between;
    

    & .name {
      & .name-link{
        color: var(--font-color-light);
        font-family: var(--font-bold);
        font-size: 1rem;
        text-decoration: none;
        transition: var(--transition-config);

        &:hover{
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-color: var(--font-color-light);
          text-decoration-thickness: 1px;
          text-underline-offset: 2px;
         
        }
      }
    }

    & .wrapper {
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      & .links {
        display: block;
        text-decoration: none;
        font-family: var(--font-regular);
        color: var(--font-color-light);
        transition:
          color 0.5s;

        &:hover {color: var(--font-color-lightest);}
      }
    }
  }
</style>
