---
const { titleContent } = Astro.props;
---
<section class="personal-info">
    <div class="title">
      <h1>{titleContent}</h1>
      <slot/>
      </a>
    </div>
</section>


 <style>

.personal-info {
      font-family: var(--font-regular);
      color: var(--font-color-lightest);
      width: 100%;

    }

    .title {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: flex-start;
      align-items: center;

      & h1 {
        font-size: 40px;
        font-family: var(--font-bold);
        color: var(--font-color-lightest);
      }
    }
</style>