---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
import Status from "@/components/Status.astro";
const title = "Formaci칩n";
const description = "P치gina de formaci칩n";
const titleContent = "Formaci칩n"
---

<BaseLayout title={title} description={description}>
  <Section titleContent={titleContent}>
    
  </Section>
  <Status>vivir la vida</Status>
</BaseLayout>

