---
import BaseLayout from "@/layouts/BaseLayout.astro";
const title = "Formaci칩n";
const description = "P치gina de formaci칩n"
---

<BaseLayout title={title} description={description}>
<h1>Formaci칩n</h1>
</BaseLayout>