---
import BaseLayout from "@/layouts/BaseLayout.astro";
const title = "Experiencia";
const description = "Página de experiencia, Experiencia como técnico de sistemas microinformáticos y redes"
---

<BaseLayout title={title} description={description}>
<h1>Experiencia</h1>
</BaseLayout>