---
import BaseLayout from "@/layouts/BaseLayout.astro";
const title = "CV";
const description = "Página donde se muestra el curriculum y se puede descargar";
---

<BaseLayout title={title} decrription={description}>
<h1>CV</h1>
<p>https://www.youtube.com/watch?v=Zwh92LTB-Bk</p>
</BaseLayout>
