---
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../../public/fonts/satoshi/satoshi.css" />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    --font-bold: "Satoshi-Bold", system-ui, sans-serif;
    --font-regular: "Satoshi-Regular", system-ui, sans-serif ;

    --font-color-lightest: #ffffff;
    --font-color-light: #b1b1b1;

    --transition-config: all 0.15s ease;

    background-color: #050505;
    background-color: hsla(210, 0%, 2%, 1);
    background-image: radial-gradient(
        at 15% 85%,
        hsla(200, 15%, 5%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 30% 20%, hsla(140, 10%, 4%, 1) 0px, transparent 50%),
      radial-gradient(at 65% 70%, hsla(0, 0%, 3%, 1) 0px, transparent 50%),
      radial-gradient(at 50% 10%, hsla(210, 5%, 2%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 5%, hsla(180, 5%, 6%, 1) 0px, transparent 50%),
      radial-gradient(at 5% 60%, hsla(200, 20%, 4%, 1) 0px, transparent 50%),
      radial-gradient(at 75% 40%, hsla(160, 0%, 3%, 1) 0px, transparent 50%),
      radial-gradient(at 90% 95%, hsla(180, 0%, 0%, 1) 0px, transparent 50%);
    
  }

  body {
    font-size: 16px;
    display: flex;
    width: 920px;
    flex-direction: column;
    height: 100vh;
    margin: auto;
  }
</style>
