---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section.astro";
const title = "Proyectos";
const description = "Página de proyectos"
const titleContent = "Proyectos";
---

<BaseLayout title={title} description={description}>
<Section titleContent={titleContent}></Section>
</BaseLayout>