---
import BaseLayout from "@/layouts/BaseLayout.astro";
const title = "Proyectos";
const description = "Página de proyectos"
---

<BaseLayout title={title} description={description}>
<h1>Proyectos</h1>
</BaseLayout>